# Exclude dependencies (let container build its own Linux binaries!)
node_modules

# Exclude local build outputs
.next
.payload
out
build

# Exclude Git files
.git
.gitignore

# Exclude Docker & deploy configurations
.dockerignore
Dockerfile
env.yaml

# Exclude local environment credentials
.env
.env.local
.env.*.local
*.env.local
